<h1 mat-dialog-title> Room Type Base Update </h1>

<div mat-dialog-content>
    <mat-form-field>
        <mat-label>code</mat-label>
        <input matInput maxlength="20" [(ngModel)]="newCode" (keyup.enter)="update()">
    </mat-form-field>

    <br>

    <mat-form-field>
        <mat-label>name</mat-label>
        <input matInput maxlength="50" [(ngModel)]="newName" (keyup.enter)="update()">
    </mat-form-field>

    <br>
    
    <div *ngFor="let item of newBases; index as i">
        <mat-form-field>
          <mat-label>{{ dates[i] }}</mat-label>
          <input matInput type="number" [(ngModel)]="newBases[i]" min="0" (keyup.enter)="update()"> &nbsp;
        </mat-form-field>
       
    </div>&nbsp;

    
</div>

<div mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="update()">update</button>
</div>


