.tableD {
  width: 100%;
}

.tableP{ 
  border: 1px;
  width: 50%; 
}

.colDate{
  width: 180px;
}

body{
  background-color: #e6f2ff
}
div {
  background-color: #e6f2ff
}

.general {background-color: #e6f2ff

}

.container {
  text-align: center;
}


.date {
  width: 10vw;
}

.base {
  width: 15vw;
}

.multiplier {
  width: 13vw;
}

.room-container mat-form-field+mat-form-field {
  margin-left: 8px;
}

h1{
  padding-top: 2vw;
}